# Скрипт отправки постов (не публикуем в GitHub)
post_to_telegram.sh
preview_post.sh
publication_plan.json
send_photo.sh

# telegram bot keys
.env

# posts templates
templates/*.html 


# Файл с HTML-постом (можно оставить, если хочешь локальные черновики)
post.html

# Логи и временные файлы
*.log
*.tmp

# MacOS служебные файлы
.DS_Store

# VS Code настройки (если используешь)
.vscode/
